@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


* {
  font-family: "Roboto Condensed", sans-serif;
}

/* styles/globals.css or wherever your global styles are */
.swal-confirm-black {
  background-color: #000 !important;
  color: #fff !important;
}

.swal-confirm-black:hover {
  background-color: #111 !important;
}
